/*
 ********************
 *   Custom Fonts   *
 ********************
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Ruberoid Oblique';
    src: url('font/Ruberoid/Ruberoid-Oblique.eot');
    src: local('font/Ruberoid/Ruberoid Oblique'), local('font/Ruberoid/Ruberoid-Oblique'),
        url('font/Ruberoid/Ruberoid-Oblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-Oblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-Oblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid Extra';
    src: url('font/Ruberoid/Ruberoid-ExtraLight.eot');
    src: local('font/Ruberoid/Ruberoid Extra Light'), local('font/Ruberoid/Ruberoid-ExtraLight'),
        url('font/Ruberoid/Ruberoid-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-ExtraLight.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-ExtraLight.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid Bold Oblique';
    src: url('font/Ruberoid/Ruberoid-BoldOblique.eot');
    src: local('font/Ruberoid/Ruberoid Bold Oblique'), local('font/Ruberoid/Ruberoid-BoldOblique'),
        url('font/Ruberoid/Ruberoid-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-BoldOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-BoldOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid';
    src: url('font/Ruberoid/Ruberoid-Bold.eot');
    src: local('font/Ruberoid/Ruberoid Bold'), local('font/Ruberoid/Ruberoid-Bold'),
        url('font/Ruberoid/Ruberoid-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-Bold.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-Bold.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid Light Oblique';
    src: url('font/Ruberoid/Ruberoid-LightOblique.eot');
    src: local('font/Ruberoid/Ruberoid Light Oblique'), local('font/Ruberoid/Ruberoid-LightOblique'),
        url('font/Ruberoid/Ruberoid-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-LightOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-LightOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid Extra';
    src: url('font/Ruberoid/Ruberoid-ExtraBold.eot');
    src: local('font/Ruberoid/Ruberoid Extra Bold'), local('font/Ruberoid/Ruberoid-ExtraBold'),
        url('font/Ruberoid/Ruberoid-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-ExtraBold.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-ExtraBold.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid Extra Bold Oblique';
    src: url('font/Ruberoid/Ruberoid-ExtraBoldOblique.eot');
    src: local('font/Ruberoid/Ruberoid Extra Bold Oblique'), local('font/Ruberoid/Ruberoid-ExtraBoldOblique'),
        url('font/Ruberoid/Ruberoid-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-ExtraBoldOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-ExtraBoldOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-ExtraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid Medium Oblique';
    src: url('font/Ruberoid/Ruberoid-MediumOblique.eot');
    src: local('font/Ruberoid/Ruberoid Medium Oblique'), local('font/Ruberoid/Ruberoid-MediumOblique'),
        url('font/Ruberoid/Ruberoid-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-MediumOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-MediumOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid';
    src: url('font/Ruberoid/Ruberoid-Light.eot');
    src: local('font/Ruberoid/Ruberoid Light'), local('font/Ruberoid/Ruberoid-Light'),
        url('font/Ruberoid/Ruberoid-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-Light.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-Light.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid Extra Light Oblique';
    src: url('font/Ruberoid/Ruberoid-ExtraLightOblique.eot');
    src: local('font/Ruberoid/Ruberoid Extra Light Oblique'), local('font/Ruberoid/Ruberoid-ExtraLightOblique'),
        url('font/Ruberoid/Ruberoid-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-ExtraLightOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-ExtraLightOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid';
    src: url('font/Ruberoid/Ruberoid-Medium.eot');
    src: local('font/Ruberoid/Ruberoid Medium'), local('font/Ruberoid/Ruberoid-Medium'),
        url('font/Ruberoid/Ruberoid-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-Medium.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-Medium.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid Semi Bold Oblique';
    src: url('font/Ruberoid/Ruberoid-SemiBoldOblique.eot');
    src: local('font/Ruberoid/Ruberoid Semi Bold Oblique'), local('font/Ruberoid/Ruberoid-SemiBoldOblique'),
        url('font/Ruberoid/Ruberoid-SemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-SemiBoldOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-SemiBoldOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-SemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid Thin Oblique';
    src: url('font/Ruberoid/Ruberoid-ThinOblique.eot');
    src: local('font/Ruberoid/Ruberoid Thin Oblique'), local('font/Ruberoid/Ruberoid-ThinOblique'),
        url('font/Ruberoid/Ruberoid-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-ThinOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-ThinOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid Semi';
    src: url('font/Ruberoid/Ruberoid-SemiBold.eot');
    src: local('font/Ruberoid/Ruberoid Semi Bold'), local('font/Ruberoid/Ruberoid-SemiBold'),
        url('font/Ruberoid/Ruberoid-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-SemiBold.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-SemiBold.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid';
    src: url('font/Ruberoid/Ruberoid-Thin.eot');
    src: local('font/Ruberoid/Ruberoid Thin'), local('font/Ruberoid/Ruberoid-Thin'),
        url('font/Ruberoid/Ruberoid-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-Thin.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-Thin.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid';
    src: url('font/Ruberoid/Ruberoid-Regular.eot');
    src: local('font/Ruberoid/Ruberoid'), local('font/Ruberoid/Ruberoid-Regular'),
        url('font/Ruberoid/Ruberoid-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-Regular.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-Regular.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ruberoid Ultra Light Oblique';
    src: url('font/Ruberoid/Ruberoid-UltraLightOblique.eot');
    src: local('font/Ruberoid/Ruberoid Ultra Light Oblique'), local('font/Ruberoid/Ruberoid-UltraLightOblique'),
        url('font/Ruberoid/Ruberoid-UltraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-UltraLightOblique.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-UltraLightOblique.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-UltraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Ruberoid Ultra';
    src: url('font/Ruberoid/Ruberoid-UltraLight.eot');
    src: local('font/Ruberoid/Ruberoid Ultra Light'), local('font/Ruberoid/Ruberoid-UltraLight'),
        url('font/Ruberoid/Ruberoid-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('font/Ruberoid/Ruberoid-UltraLight.woff2') format('woff2'),
        url('font/Ruberoid/Ruberoid-UltraLight.woff') format('woff'),
        url('font/Ruberoid/Ruberoid-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


/*
 **************
 *   Global   *
 **************
*/
:root {
    --is-mobile: 0;

    --theme-background: var(--theme-aspen-background);
    --theme-text: var(--theme-aspen-text);
    --theme-header: var(--theme-aspen-header);
    --theme-headertext: var(--theme-aspen-headertext);
    --theme-headertexthover: var(--theme-aspen-headertexthover);
    --theme-areamapback: var(--theme-aspen-areamapback);
    --theme-areamaptext: var(--theme-aspen-areamaptext);
    --theme-hoverboxback: var(--theme-aspen-hoverboxback);
    --theme-hoverboxtext: var(--theme-aspen-hoverboxtext);
    --theme-link: var(--theme-aspen-link);
    --theme-linkhover: var(--theme-aspen-linkhover);
    --theme-linkvisited: var(--theme-aspen-linkvisited);
    --theme-buttonback: var(--theme-aspen-buttonback);
    --theme-buttonborder: var(--theme-aspen-buttonborder);
    --theme-buttonbackhover: var(--theme-aspen-buttonbackhover);
    --theme-buttonborderhover: var(--theme-aspen-buttonborderhover);
    --theme-buttontext: var(--theme-aspen-buttontext);
    --theme-navback: var(--theme-aspen-navback);
    --theme-navborder: var(--theme-aspen-navborder);
    --theme-navbackhover: var(--theme-aspen-navbackhover);
    --theme-navborderhover: var(--theme-aspen-navborderhover);
    --theme-navtext: var(--theme-aspen-navtext);

    --theme-aspen-background: #ffffff;
    --theme-aspen-text: #252f30;
    --theme-aspen-header: #252f30;
    --theme-aspen-headertext: #f9f4e5;
    --theme-aspen-headertexthover: #eccaaa;
    --theme-aspen-areamapback: #f3e9c8d7;
    --theme-aspen-areamaptext: black;
    --theme-aspen-hoverboxback: #f3e9c8;
    --theme-aspen-hoverboxtext: #252f30;
    --theme-aspen-link: #93b0b4;
    --theme-aspen-linkhover: hsl(187, 18%, 75%);
    --theme-aspen-linkvisited: #48585a;
    --theme-aspen-buttonback: hsl(187, 18%, 90%);
    --theme-aspen-buttonborder: hsl(187, 18%, 64%);
    --theme-aspen-buttonbackhover: hsl(187, 18%, 90%);
    --theme-aspen-buttonborderhover: hsl(187, 18%, 80%);
    --theme-aspen-buttontext: #252f30;
    --theme-aspen-navback: hsl(29, 63%, 90%);
    --theme-aspen-navborder: hsl(29, 63%, 80%);
    --theme-aspen-navbackhover: hsl(29, 63%, 90%);
    --theme-aspen-navborderhover: hsl(29, 63%, 85%);
    --theme-aspen-navtext: #252f30;

    --theme-aspennight-background: #252f30;
    --theme-aspennight-text: #f9f4e5;
    --theme-aspennight-header: hsl(185, 13%, 10%);
    --theme-aspennight-headertext: #f9f4e5;
    --theme-aspennight-headertexthover: #eccaaa;
    --theme-aspennight-areamapback: #f3e9c8d7;
    --theme-aspennight-areamaptext: black;
    --theme-aspennight-hoverboxback: #f3e9c8;
    --theme-aspennight-hoverboxtext: black;
    --theme-aspennight-link: #93b0b4;
    --theme-aspennight-linkhover: hsl(187, 18%, 90%);
    --theme-aspennight-linkvisited: hsl(187, 18%, 80%);
    --theme-aspennight-buttonback: hsl(187, 18%, 70%);
    --theme-aspennight-buttonborder: hsl(187, 18%, 60%);
    --theme-aspennight-buttonbackhover: hsl(187, 18%, 70%);
    --theme-aspennight-buttonborderhover: hsl(187, 18%, 50%);
    --theme-aspennight-buttontext: #252f30;
    --theme-aspennight-navback: hsl(29, 63%, 80%);
    --theme-aspennight-navborder: hsl(29, 63%, 70%);
    --theme-aspennight-navbackhover: hsl(29, 63%, 80%);
    --theme-aspennight-navborderhover: hsl(29, 63%, 65%);
    --theme-aspennight-navtext: #252f30;

    --theme-original-background: #fcfade;
    --theme-original-text: #313f40;
    --theme-original-header: #313f40;
    --theme-original-headertext: #fcfade;
    --theme-original-headertexthover: #fcfade;
    --theme-original-areamapback: #fcfadedf;
    --theme-original-areamaptext: black;
    --theme-original-hoverboxback: #fcfade;
    --theme-original-hoverboxtext: #313f40;
    --theme-original-link: #5e4aff;
    --theme-original-linkhover: #47c8ff;
    --theme-original-linkvisited: #800080;
    --theme-original-buttonback: white;
    --theme-original-buttonborder: grey;
    --theme-original-buttonbackhover: white;
    --theme-original-buttonborderhover: lightgrey;
    --theme-original-buttontext: #313f40;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background: none;
    background-color: var(--theme-background);
}
/* body > div {
    overflow-x: hidden;
} */

html {
    margin-top: 0 !important;
    max-width: 100vw;
    overflow-x: hidden;
}
#wpadminbar {
    opacity: 0.25;
    transition: opacity 0.25s;
}
#wpadminbar:hover {
    opacity: 1;
}


/*
 ***************
 *   Headers   *
 ***************
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ruberoid';
    margin: 0;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    font-smooth: none !important;
    -webkit-font-smoothing: none !important;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
h1 {
    font-size: 4vh;
}
h2 {
    font-size: 3vh;
}
h3 {
    font-size: 2.5vh;
}
h4 {
    font-size: 2vh;
}
h5 {
    font-size: 1.8vh;
}
h6 {
    font-size: 1.75vh;
}

p {
    margin: 0;
    margin-bottom: 1vh;
    font-size: 1.5vh;
    font-weight: 500;
    line-height: 150%;
}
p:last-child {
    margin-bottom: 0;
}


/*
 ******************
 *   Formatting   *
 ******************
*/
body,
button,
input,
select,
optgroup,
textarea {
    color: var(--theme-text);
    font-family: 'Noto Sans', Noto-Sans, sans-serif;
    font-size: 1.25vh;
}

blockquote {
    margin: 0 1.5em 1vh 1.5em;
}

pre {
    background: #f0eed4;
}

li > ul,
li > ol {
    margin: 0;
}

a {
    color: var(--theme-link);
}
a:visited {
    color: var(--theme-linkvisited);
}
a:hover,
a:focus,
a:active {
    color: var(--theme-linkhover);
}

hr {
    background-color: var(--theme-text);
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 2px solid;
    border-color: var(--theme-buttonborder);
    border-radius: 0;
    /* border: 2px solid var(--theme-text); */
    border: 3px outset var(--theme-buttonborder);
    background-color: var(--theme-buttonback);
    color: var(--theme-buttontext);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.6em 1em;
}

button:focus,
button:hover,
.button:focus,
.button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    border-color: var(--theme-buttonborderhover);
    background-color: var(--theme-buttonbackhover);
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border: 3px inset var(--theme-buttonborderhover);
    background-color: var(--theme-buttonbackhover);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: var(--theme-text);
    border: 2px solid var(--theme-text);
    border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: var(--theme-text);
}

select {
    border: 2px solid var(--theme-text);
}

.wp-block-column {
    align-content: center;
}
.wp-block-column > *:first-child {
    margin-top: 0;
}
.wp-block-column > *:last-child {
    margin-bottom: 0;
}


/*
 ***************************
 *   Header / Navigation   *
 ***************************
*/
@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: unset;
    }
    .main-navigation ul {
        display: unset;
    }
}

.main-navigation {
    display: block;
    width: 100%;
}

.main-navigation ul {
    float: none;
    position: absolute;
    left: -2px;
    top: 100%;
    display: none;
    opacity: 0;
    z-index: 99999;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.main-navigation ul ul {
    box-shadow: none;
    display: none;
    opacity: 0;
    left: 100% !important;
    top: -2px !important;
}
.main-navigation ul .menu-item {
    min-height: 3em;
    width: 100%;
    box-sizing: content-box;
    margin-bottom: -2px;
}

.main-navigation li:hover > ul,
.main-navigation li.focus > ul {
    display: block;
    opacity: 1;
}

.main-navigation ul a {
    width: 100%;
    text-align: left;
}

.main-navigation li:hover > ul,
.main-navigation li.focus > ul {
    opacity: 1;
}

.main-navigation li {
    position: relative;
}

.main-navigation > li:has(.sub-menu) {
    padding-right: 2.5em;
}
.main-navigation li:has(.sub-menu)::after {
    position: absolute;
    top: 0;
    right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    font-smooth: none !important;
    -webkit-font-smoothing: none !important;
}
.main-navigation > li:has(.sub-menu)::after {
    content: "\25BC";
}
.main-navigation ul li:has(.sub-menu)::after {
    content: "\25B6";
}

header.site-header a,
.main-navigation .menu-toggle {
    color: var(--theme-headertext);
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-content: center;
    padding: 0.5vh 1vh;
}
header.site-header a:hover,
.main-navigation .menu-toggle:hover {
    color: var(--theme-headertexthover);
}

.main-navigation ul .page_item,
.main-navigation .menu-item,
.main-navigation .menu-toggle {
    appearance: none;
    font-weight: 400;
    border: 2px solid var(--theme-headertext);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6vh;
    max-width: 20vh;
    text-align: center;
    background-color: var(--theme-header);
}
.main-navigation ul .page_item:hover,
.main-navigation .menu-item:hover,
.main-navigation .menu-toggle:hover {
    border-color: var(--theme-headertexthover);
}

header.site-header .site-title {
    display: block;
}
header.site-header .site-title a {
    display: flex;
    align-items: center;
}
header.site-header .site-title a,
header.site-header .main-navigation,
header.site-header .main-navigation a:visited {
    color: var(--theme-headertext);
    text-decoration: none;
}
header.site-header .site-title a:hover,
header.site-header .main-navigation:hover,
header.site-header .main-navigation a:visited:hover {
    color: var(--theme-headertexthover);
}

.post-navigation .nav-links > div {
    width: 100%;
    height: 100%;
    padding: 0;
}
.post-navigation .nav-links > div.nav-blank {
    border: none;
}
.post-navigation .button {
    border-color: var(--theme-navborder);
    border: 3px outset var(--theme-navborder);
    background-color: var(--theme-navback);
    color: var(--theme-navtext);
}
.post-navigation .button:focus,
.post-navigation .button:hover {
    border-color: var(--theme-navborderhover);
    background-color: var(--theme-navbackhover);
}
.post-navigation .button:active {
    border: 3px inset var(--theme-navborderhover);
    background-color: var(--theme-navbackhover);
}

.post-navigation .nav-links > div > a {
    color: var(--theme-navtext);
    text-decoration: none;
    width: 100%;
    height: 100%;
    /* font-size: 1.5vh; */
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-navigation .nav-links > div.nav-toggle > a {
    /* font-size: 1.25vh; */
}

header.site-header {
    font-family: 'Ruberoid';
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
    min-height: 8vh;
    color: var(--theme-headertext);
    background-color: var(--theme-header);
    padding: 1vh 2vh;
    gap: 1.5em;
    z-index: 100;
    display: flex;
    align-items: center;
    -webkit-font-smoothing: none !important;
}
header.site-header > * {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2vh;
    align-items: center;
}
header.site-header .site-title {
    font-size: 3.5vh;
    font-weight: 800;
    margin: 0;
}
header.site-header .site-description {
    font-size: 2vmin;
    font-weight: 400;
    letter-spacing: -0.025em;
    font-style: italic;
    margin: 0;
    width: 8em;
}

/* Small menu. */
.main-navigation .menu-toggle,
.main-navigation.toggled ul {
    display: none;
    cursor: pointer;
}


/*
 **************
 *   Footer   *
 **************
*/
footer.site-footer {
    margin: 1.5em 0;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    margin-top: auto;
}
footer.site-footer section + section {
    margin-top: 0.5em;
}
footer section > p {
    font-size: 1vh;
    line-height: 150%;
}
.single footer.site-footer-mobile {
    display: none;
}


/*
 ***********************
 *   Main Pagination   *
 ***********************
*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0;
    padding: 3vh 0;
    height: 9em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 1em;
    text-align: center;
    justify-items: center;
    height: 100%;
}


/*
 ***********************
 *  Archive Pagination *
 ***********************
*/
.pt-cv-wrapper .pagination {
    border-radius: 0;
    gap: 1em;
}
.pt-cv-wrapper .pagination > li > a,
.pt-cv-wrapper .pagination > li > span {
    border: 2px solid;
    border-color: var(--theme-buttonborder);
    border-radius: 0;
    /* border: 2px solid var(--theme-text); */
    border: 3px outset var(--theme-buttonborder);
    background-color: var(--theme-buttonback);
    color: var(--theme-buttontext);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.6em 1em;
    width: 3em;
    height: 3em;
    margin: 0 0.5em;
}
.pt-cv-wrapper .pagination > li:first-child > a,
.pt-cv-wrapper .pagination > li:first-child > span {
    margin-left: 0;
}
.pt-cv-wrapper .pagination > li > a:focus,
.pt-cv-wrapper .pagination > li > span:focus,
.pt-cv-wrapper .pagination > li > a:hover,
.pt-cv-wrapper .pagination > li > span:hover {
    border-color: var(--theme-buttonborderhover);
    background-color: var(--theme-buttonbackhover);
}
.pt-cv-wrapper .pagination > li > a:active,
.pt-cv-wrapper .pagination > li > span:active {
    border: 3px inset var(--theme-buttonborderhover);
    background-color: var(--theme-buttonbackhover);
}

.pt-cv-pagination[data-isblock=''] li.active a,
.pt-cv-pagination[data-isblock=''] li.active a:active,
.pt-cv-pagination[data-isblock=''] li.active a:focus,
.pt-cv-pagination[data-isblock=''] li.active a:hover {
    border: none;
    background-color: transparent;
    color: var(--theme-text);
    margin: 0;
}


/*
 *********************
 *   Posts & Pages   *
 *********************
*/
main#primary {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    width: 60vw;
    gap: 4vw;
}
.single main#primary:has(article.has-post-thumbnail) {
    width: 100vw;
}
.single main#primary:has(.container-thumbnail.enlarged) {
    gap: 0;
}
.container {
    flex: 1;
    /* border: 4px solid var(--theme-text); */
    padding: 0 4vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.page .container {
    padding: 3vh 6vh;
    padding-bottom: 0;
    margin: 4vh;
    background-color: white;
}
.single .container {
    max-width: 33.333vw;
    height: 92vh;
}

.single .container-comments {
    overflow-y: auto;
    padding: 4vh;
}

.single article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    min-width: 100%;
    margin: 0;
}
.single .container-thumbnail {
    padding: 0;
    /* max-width: 66.667vw; */
    max-width: 61.5384615385vh;
    flex: 2;
}
.single .post-thumbnail {
    display: flex;
    margin: 0;
    position: relative;
    /* width: auto; */
    /* height: 100%; */
    margin: auto;
    /* max-height: 100%; */
    width: calc(92vh*800/1040);
    height: 92vh;
}
.single .post-thumbnail img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}
.single .container-thumbnail.enlarged {
    max-width: none;
    flex-grow: 4;
    overflow-x: hidden;
    overflow-y: auto;
}
.single .container-thumbnail.enlarged .post-thumbnail {
    max-height: none;
    width: auto;
    height: auto;
}
.single .container-thumbnail.enlarged img {
    width: 80vw;
    height: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.single .post-thumbnail:not(.boxes-show) .hoverbox,
.single .post-thumbnail .hoverbox.adminbox {
    width: 12em;
    height: auto;
    min-height: 1.5em;
    padding: 0.5vmin 1vmin;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--theme-hoverboxtext);
    background-color: var(--theme-hoverboxback);
    border: 2px solid var(--theme-hoverboxtext);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
}
.single .post-thumbnail.boxes-show .hoverbox:not(.adminbox) {
    width: auto;
    height: auto;
    min-width: fit-content;
    font-size: 1.25vmin;
    line-height: 1.25em;
    text-align: center;
    padding: 0.5em 0.125em;
    opacity: 1;
    overflow: hidden;
    text-shadow:
        -1px -1px 0 white,
        0px -1px 0 white,
        1px -1px 0 white,
        -1px 0px 0 white,
        1px 0px 0 white,
        -1px 1px 0 white,
        0px 1px 0 white,
        1px 1px 0 white,

        -0.75px -0.75px 0 white,
        0px -0.75px 0 white,
        0.75px -0.75px 0 white,
        -0.75px 0px 0 white,
        0.75px 0px 0 white,
        -0.75px 0.75px 0 white,
        0px 0.75px 0 white,
        0.75px 0.75px 0 white,

        -0.5px -0.5px 0 white,
        0px -0.5px 0 white,
        0.5px -0.5px 0 white,
        -0.5px 0px 0 white,
        0.5px 0px 0 white,
        -0.5px 0.5px 0 white,
        0px 0.5px 0 white,
        0.5px 0.5px 0 white,

        -0.25px -0.25px 0 white,
        0px -0.25px 0 white,
        0.25px -0.25px 0 white,
        -0.25px 0px 0 white,
        0.25px 0px 0 white,
        -0.25px 0.25px 0 white,
        0px 0.25px 0 white,
        0.25px 0.25px 0 white;
}
.single .container-thumbnail.enlarged .post-thumbnail.boxes-show .hoverbox:not(.adminbox) {
    font-size: 2vh;
}
.single .post-thumbnail .hoverbox.adminbox {
    z-index: 1;
    background-color: #eecece;
}
.single .post-thumbnail .areamap {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--theme-areamaptext);
    background-color: var(--theme-areamapback);
    cursor: crosshair;
    opacity: 0;
    display: flex;
    transition: opacity 0.25s, background-color 0.25s;
}
.single .post-thumbnail.boxes-show > .areamap {
    cursor: default;
}
.single .post-thumbnail.boxes-hide .areamap {
    opacity: 0 !important;
}
.single .post-thumbnail.boxes-hover:hover > .areamap,
.single .post-thumbnail.boxes-active > .areamap,
.single .post-thumbnail .areamap:hover > .hoverbox,
.single .post-thumbnail:hover > .hoverbox {
    opacity: 1;
}
.single .post-thumbnail:not(.boxes-hover) .areamap {
    border: none;
    background-color: #ffffffef;
    align-items: center;
    justify-content: center;
}
.single .post-thumbnail.boxes-show .areamap.align-start .hoverbox {
    align-self: start;
}
.single .post-thumbnail.boxes-show .areamap.align-end .hoverbox {
    align-self: end;
}
.single .post-thumbnail.boxes-show .areamap.rotate-left .hoverbox {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}
.single .post-thumbnail.boxes-show .areamap.rotate-right .hoverbox {
    writing-mode: vertical-rl;
}
.single .post-thumbnail.boxes-show .areamap.title .hoverbox,
.single .post-thumbnail.boxes-show .areamap.header .hoverbox,
.single .post-thumbnail.boxes-show .areamap.footer .hoverbox {
    font-size: 2vmin;
}
.single .container-thumbnail.enlarged .post-thumbnail.boxes-show .areamap.title .hoverbox,
.single .container-thumbnail.enlarged .post-thumbnail.boxes-show .areamap.header .hoverbox,
.single .container-thumbnail.enlarged .post-thumbnail.boxes-show .areamap.footer .hoverbox {
    font-size: 3vmin;
}
.single .post-thumbnail.boxes-show .areamap.title .hoverbox,
.single .post-thumbnail.boxes-show .areamap.header .hoverbox {
    font-weight: bold;
}

.single .post-thumbnail .areamap-tutorial {
    transition: opacity 0.25s;
    font-size: 2vmin;
    padding: 0.25em 0.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single .post-thumbnail:not(.boxes-hover) .areamap-tutorial,
.single .post-thumbnail:hover .areamap-tutorial {
    opacity: 0 !important;
}

.single article .entry-title {
    margin-bottom: 0;
    text-align: center;
    line-height: 100%;
}
.single article .entry-content {
    text-align: center;
}
.single article .entry-header + .entry-content {
    margin-top: 1vh;
}
.single article .timestamp {
    font-size: 1.25vh;
    font-style: italic;
}

.page {
    margin: unset;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 0;
}

.page .page-hierarchy {
    display: none;
    margin-bottom: 2vh;
}
.page .page-hierarchy > div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5em;
    border-left: 2px solid var(--theme-text);
    padding-left: 1em;
    padding-bottom: 1vh;
}
.page .page-hierarchy > div:last-child {
    padding-bottom: 0;
}
.page .page-hierarchy * {
    margin-bottom: 0;
    font-size: 1.5vh;
}
.page .page-parent:not(a),
.page .page-children:not(a) {
    font-style: italic;
}

.page .entry-header h1 {
    margin-bottom: 2vh;
}


/*
 ****************
 *   Comments   *
 ****************
*/
.required-field-message {
    display: none;
}
.cancel-comment-reply-link {
    padding-left: 0.5em;
}
.comment-form-comment label {
    display: block;
}
.comments-title {
    display: none;
}

ol.comment-list {
    margin: 0;
    padding-left: 0;
}
.comments > ol.comment-list {
    margin: 0;
    padding: 0;
}
.comment-list > .comment {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid var(--theme-text);
}
.comment-list > .comment:last-child {
    border: none;
    padding-bottom: 0;
}

div.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment .comment-header {
    display: flex;
    gap: 10px;
}
.comment .comment-meta {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.comment .comment-author {
    font-size: 1.85vh;
    font-weight: 600;
}
.comment .comment-date {
    font-size: 1.333vh;
    font-weight: 400;
}
.comment .comment-thumbnail {
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
}
.comment .comment-thumbnail img {
    width: auto;
    height: 100%;
}
.comment .comment-body p {
    font-size: 1.333vh;
    font-weight: 500;
    line-height: 1.5;
}
.comment .comment-footer {
    font-size: 1.333vh;
    font-weight: 400;
}
.comment .children {
    padding-left: 20px;
}
.comment .children .comment {
    margin-top: 20px;
}

.comment-form textarea {
    margin: 15px 0;
    resize: vertical;
    min-height: 4em;
    max-height: 32em;
}
.comment-respond:not(:first-child) {
    margin-top: 4vh;
}
.comment-respond > .comment-reply-title small {
    display: block;
}
.comment-form-comment > label {
    display: none;
}


/*
 ************************
 *   Archive & Search   *
 ************************
*/
.archive .container .page-title,
.search .container .page-title {
    text-align: center;
    margin-bottom: 6vmin;
}
.archive .container article.post .entry-content,
.search .container article.post .entry-content,
.archive .container article.post .entry-header,
.search .container article.post .entry-header {
    display: none;
}
.archive .container .archive-posts-container,
.search .container .archive-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vmax 1vmax;
}
.archive .container .archive-post,
.search .container .archive-post {
    display: inline-block;
    width: min-content;
    height: min-content;
}
.search .container .archive-post {
    width: 20vmax;
    height: 15vmax;
    padding: 1vmin;
    overflow: hidden;
}
.archive .container .archive-post .post {
    min-width: unset;
}
.search .container .archive-post .post {
    min-width: unset;
    width: 100%;
}

.archive-post .post .post-thumbnail img,
.search-post .post .post-thumbnail img {
    width: 20vmax;
    height: auto;
}
.search .container .archive-post .has-post-thumbnail {
    position: relative;
    top: -1vh;
}


/*
 ***************
 *   Mailpoet  *
 ***************
*/
.single-mailpoet_page nav.post-navigation {
    opacity: 0;
}
.single-mailpoet_page .timestamp {
    display: none;
}


/*
 ***************
 *   Sidebar   *
 ***************
*/
aside#secondary {
    float: right;
    border: 4px solid var(--theme-text);
    background-color: var(--theme-background);
    padding: 1em;
}


/*
 *********************
 *   Accessibility   *
 *********************
*/
.screen-reader-text:focus {
    background-color: var(--theme-background);
}


/*
 ******************
 *   Responsive   *
 ******************
*/
@media screen and (max-aspect-ratio: 4 / 3) {
    :root {
        --is-mobile: true;
    }

    .single main#primary,
    .page main#primary,
    main#primary {
        width: 100% !important;
        flex-direction: column;
        padding: 0 4vw;
        gap: 2vh;
    }

    .hoverbox.adminbox {
        display: none;
    }

    .container {
        width: 80vw;
        max-width: none;
        max-height: none;
        height: auto;
    }

    .site-description {
        display: none;
    }

    .site-main .comment-navigation,
    .site-main .posts-navigation,
    .site-main .post-navigation {
        padding: 2vh;
        font-size: 1.5vh;
        height: 7em;
    }

    .single .container {
        width: 90vw;
        height: auto;
        max-width: none;
    }

    .single .container-comments {
        padding-top: 0;
        padding-bottom: 0;
    }

    .single .post-thumbnail {
        max-height: none;
        width: 100%;
        height: 100%;
    }

    .single .post-thumbnail img,
    .single .container-thumbnail.enlarged .post-thumbnail img {
        width: 100%;
        height: auto;
        image-rendering: auto;
    }
    .single .container-thumbnail.enlarged {
        flex-grow: 1;
        overflow: hidden;
    }

    .comment-respond > * {
        text-align: center;
    }

    footer.site-footer-not-mobile {
        display: none;
    }
    footer.site-footer-mobile {
        display: block;
    }

    .comment .comment-thumbnail {
        width: 6vh;
        height: 6vh;
        min-width: 64px;
        min-height: 64px;
        margin: 0;
        padding: 0;
    }
    .comment-form textarea {
        resize: none;
    }

    .single .post-thumbnail:not(.boxes-show) .hoverbox {
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .single .post-thumbnail,
    .single .post-thumbnail > .hoverbox {
        transition: none !important;
    }
    .single .post-thumbnail.boxes-hover > .areamap {
        opacity: 1;
    }
    .single .post-thumbnail .areamap {
        cursor: none;
    }
    .single .post-thumbnail .areamap-tutorial {
        opacity: 0 !important;
    }
}
@media screen and (max-aspect-ratio: 3 / 4) {

    .single .container,
    .page .container {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .single .container:first-child {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .page .page-hierarchy {
        display: block;
    }

    header.site-header {
        height: auto;
        align-items: flex-start;
        justify-content: space-between;
    }
    header.site-header > * {
        width: auto;
        height: 6vh;
        max-width: none;
    }
    .main-navigation .menu-item,
    .main-navigation .menu-toggle {
        width: 100%;
        height: 6vh;
        max-width: none;
    }
    header.site-header .main-navigation {
        width: 100%;
        flex-direction: column;
    }
    .main-navigation.toggled {
        height: auto !important;
    }
    .main-navigation:not(.toggled) li {
        display: none;
    }
    .main-navigation .menu-item,
    .main-navigation .menu-toggle {
        align-items: center;
        justify-content: center;
    }
    .main-navigation .menu-toggle {
        display: block;
        width: 6vh;
        font-size: 200%;
        border: none;
        margin-left: auto;
    }
    .main-navigation ul {
        display: none;
    }

    .main-navigation li:hover > ul,
    .main-navigation li.focus > ul {
        display: none;
        opacity: 0;
    }

    .main-navigation li:has(.sub-menu) {
        padding-right: 0;
    }
    .main-navigation li:has(.sub-menu)::after {
        content: "";
    }
}